/node_modules
/public/hot
/public/storage
/public/profile-images
/public/company-logos
/public/polygon-locations
/public/export
/storage/app/profile-images
/storage/app/company-logos
/storage/app/polygon-locations
/storage/app/export
/storage/app/public
/storage/*.key
/storage/framework/laravel-excel
/storage/oauth-private.key.bk
/storage/oauth-public.key.bk
/storage/app
/.vapor
/vendor
/sheet-import
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
transfer-setup.md
yarn-error.log
schema-directives.graphql
.idea

# k8s secrets
.do/k8s/secrets.yml
/cm-server-storage/

.env.demo
